:root {
  --prim-background: #eff0f2;
  --prim-btn-background: #38e850;
  --prim-btn-background-hover: #f3f9fa;
  --prim-btn-color: #f5ebeb;
  --prim-font-color: #6f25ef;
  --sec-background: #f98417;
  --sec-btn-background: #cced86;
  --sec-btn-background-hover: #419208;
  --sec-btn-border-color: #23eaa8;
  --sec-font-color: #2c3034;
}
* {
  box-sizing: border-box;
  font-family: Inter;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
body {
  align-items: center;
  background-color: var(--prim-background);
  display: flex;
  justify-content: space-evenly;
  min-height: 100vh;
  min-width: 100vw;
}
footer {
  bottom: 0px;
  color:  var(--prim-background);
  font-weight: 700;
  padding: 20px;
  background: #fc5b04;
  width: 100%;
  text-align: center;
  position: absolute;
}
footer > a {
  color: var(--prim-background);
  text-decoration: none;
}

.redes-sociais {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.redes-sociais li {
  margin: 0 10px;
}
.redes-sociais a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}
a:-webkit-any-link {
  color: var(--prim-background);
}
.selecao {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: start;
  width: 150px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 150px;
  height: 680px;
  justify-content: space-between;
  width: 680px;
}
.title-desable {
  line-height: 120%;
  text-align: center;
}
.text-desable {
  color: var(--sec-font-color);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}
.texto-aviso {
  align-items: center;
  color: var(--sec-font-color);
  display: flex;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  gap: 5px;
  line-height: 150%;
}
.container-messagens {
  align-items: center;
  background: var(--sec-background);
  background-color: var(--sec-background);
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(23, 23, 23, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 440px;
}
.container-resultado-menssagem {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: -webkit-fill-available;
}
.resposta-texto {
  color: #495057;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.img {
  height: 304px;
  width: 336px;
}
#input {
  background-color: transparent;
  border: none;
  color: var(--prim-font-color);
  font-size: 2rem;
  font-weight: 400;
  height: -webkit-fill-available;
  line-height: 150%;
  max-height: 100%;
  max-width: 100%;
}
.header-img {
  margin-top: 20px;
}
#input::placeholder {
  color: var(--prim-font-color);
}
.btn {
  border-radius: 24px;
  cursor: pointer;
  flex-shrink: 0;
  gap: 8px;
  margin-top: 5px;
  padding: 24px;
  transition: background-color 150ms linear;
  width: 200px;
}
.btn-decrypted {
  border-radius: 24px;
  cursor: pointer;
  flex-shrink: 0;
  gap: 8px;
  margin-top: 5px;
  padding: 24px;
  transition: background-color 150ms linear;
  width: 200px;
}
.enable {
  display: none;
}
.btn-copy {
  margin-bottom: 20px;
}
.resposta-texto {
  color: var(--sec-font-color);
  margin-top: 20px;
}
.disabled {
  display: none;
}
.btn-group {
  background-color: var(--sec-btn-background);
  border: 1px solid var(--sec-btn-border-color);
  border-radius: 24px;
}
.btn-group:hover {
  background-color: var(--sec-btn-background-hover);
}
.btn-crypted {
  background-color: var(--prim-btn-background);
  border: none;
  color: var(--prim-btn-color);
}
.dark-blue:hover {
  background-color: var(--prim-btn-background-hover);
}
@media screen and (min-width: 600px) and (max-width: 1339px) {
  body {
    align-items: center;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
  footer {
    padding: 10px;
    position: relative;
  }
  main {
    align-items: center;
    height: auto;
    justify-content: center;
    width: 100%;
  }
  #input {
    width: 88%;
  }
  .container-messagens {
    font-size: 20px;
    height: auto;
    padding: 20px;
    width: 92%;
  }
  .texto-aviso {
    margin-left: 24px;
  }
  .btn {
    margin: 12px;
    width: 45%;
  }
  .options {
    margin: 12px;
    width: -webkit-fill-available;
  }
  .btn-copy {
    width: 576px;
  }
  .selecao  {
    align-items: start;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: 100%;
  }
  aside {
    text-align: center;
  }
  .title-desable {
    font-size: 20px;
    line-height: 120%;
    text-align: center;
  }
  #input {
    font-size: 20px;
  }
  #input::placeholder {
    font-size: 20px;
  }
  .text-desable {
    font-size: 14px;
  }
  .img {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  body {
    align-items: center;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
  main {
    align-items: center;
    height: auto;
    justify-content: center;
    width: 100%;
  }
  .texto-aviso {
    margin-left: 34px;
  }
  .btn {
    margin: 12px;
    width: 80%;
  }
  .options {
    margin: 12px;
    width: -webkit-fill-available;
  }
  .container-messagens {
    font-size: 20px;
    height: auto;
    padding: 20px;
    width: 70%;
  }
  .selecao {
    align-items: start;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: 100%;
  }
  footer {
    padding: 5px;
    position: relative;
  }
  aside {
    text-align: center;
  }
  .title-desable {
    font-size: 20px;
    line-height: 120%;
    text-align: center;
  }
  #input {
    font-size: 20px;
    width: 75%;
  }
  #input::placeholder {
    font-size: 20px;
  }
  .text-desable {
    font-size: 14px;
  }
  .img {
    display: none;
  }
}